* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

:root {
  --font-main: 'Asul', sans-serif;
}

/** estilo header */
.header_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo img {
  height: 100px;
}

.header_line {
  width: 80%;
  height: 2px;
}

/**estilo Card */
.article_card {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  /* background-color: beige; */
  border: 1px solid beige;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.article_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 40%;
  width: 100%;
  /* background-color: aqua; */

}

.article_img {
  display: flex;
  /* background-color: blue; */
  height: 60%;
  width: 100%;
}

.article_img img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

@media(max-width:570px){
  .logo img{
    height: 50px;
  }
}